@import 'reset.scss';
@import 'waves.scss';

$background: #191E27;
$offwhite: #F7F4F3;
$offpink: #D3B5D2;

body {
  background-color: $background;
}


.wrapper {
  min-height: 100vh;
  display: grid;
  color: $offwhite;
  padding: 20px;

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  h1 {
      font-size: 3.5em;
    }
  }
  

  section {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 60px 1fr 1fr 1fr 1fr 60px;
    grid-template-rows: 1fr 1fr 1fr;
    
  }

  #hero {
    grid-template-areas:
      ". . . . . ."
      ". . . . . ."
      ". . . . . .";

    .waves {
      grid-area: waves;
    }
    
  }
  #work {

  }
  #about {

  }
  #contact {

  }

  a {
    text-decoration: none;
    color: $offpink;
  }

  p {
    color: $offwhite;
  }

  #gentle-wave {
    stroke-width: .25px;
  }
  

  footer {
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }
}

