@import 'reset.scss';
@import 'waves.scss';

$background: #191E27;
$offwhite: #F7F4F3;
$offpink: #D3B5D2;

body {
  background-color: $background;
}


.wrapper {
  min-height: 100vh;
  display: grid;
  color: $offwhite;
  

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 24px;
    z-index: 1;
    transition:  background-color .25s, box-shadow .5s;

    h1 {
        font-size: 3.5em;
      }
    a {
      color: $offwhite;
      margin-left: 16px;
    }
    a:hover {
      color: $offpink;
    }
    

  }
  header.scrolled { background-color: $background;}
  

  section {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 160px 1fr 1fr 1fr 1fr 60px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
  }

  a {
    text-decoration: none;
    color: $offpink;
  }

  p {
    color: $offwhite;
  }

  
  

  footer {
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }

  #hero {
    grid-template-areas:
      ". . . . . ."
      ". desc desc desc logo logo"
      ". desc desc desc logo logo"
      ". . more more . .";

    .waves {
      position: absolute;
      top: 30%;
      opacity: 30%;
    }
    #description { 
      grid-area: desc;
      align-self: center;
      justify-self: left;
    }
    #gentle-wave { stroke-width: .25px;}
    #more {
      grid-area: more;
      align-self: center;
      justify-self: center;
    }
    #logo {grid-area: logo;}
    
  }
  #work {

  }
  #about {

  }
  #contact {

  }


}

